Load Real Estate Data

In [49]:
import pandas as pd

df = pd.read_csv("/content/600K US Housing Properties.csv")

df.head

<ipython-input-49-8083e1eafc05>:3: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/content/600K US Housing Properties.csv")

<bound method NDFrame.head of                                              property_url  property_id  \
0       https://www.zillow.com/homedetails/3-Plat-83-1...   2064212272
1       https://www.zillow.com/homedetails/117-3rd-St-...    249518113
2       https://www.zillow.com/homedetails/LOT-2A-Fron...   2077729913
3       https://www.zillow.com/homedetails/LOT-A-Plat-...   2067488502
4       https://www.zillow.com/homedetails/335-Cassiar...    249518139
...                                                   ...          ...
599995  https://www.zillow.com/homedetails/6317-Virgin...      4303608
599996  https://www.zillow.com/homedetails/LOT-16-Ray-...   2078144422
599997  https://www.zillow.com/homedetails/12S135-Lemo...      4604875
599998  https://www.zillow.com/homedetails/4701-Abbey-...     65578365
599999  https://www.zillow.com/homedetails/321-Allen-A...      4418670

                                       address         street_name apartment  \
0            3 Plat #83-10, Wrangell, AK 99929         Plat #83-10       NaN
1               117 3rd St, Wrangell, AK 99929              3rd St       NaN
2          LOT 2A Front St, Wrangell, AK 99929     LOT 2A Front St       NaN
3       LOT A Plat #2009-6, Wrangell, AK 99929  LOT A Plat #2009-6       NaN
4           335 Cassiar St, Wrangell, AK 99929          Cassiar St       NaN
...                                        ...                 ...       ...
599995    6317 Virginia Ln, Matteson, IL 60443         Virginia Ln       NaN
599996  LOT 16 Ray Ave, West Chicago, IL 60185      LOT 16 Ray Ave       NaN
599997      12S135 Lemont Rd, Lemont, IL 60439       135 Lemont Rd       NaN
599998       4701 Abbey Ln, Matteson, IL 60443            Abbey Ln       NaN
599999   321 Allen Ave, West Chicago, IL 60185           Allen Ave       NaN

                city state   latitude   longitude postcode  ...  \
0           Wrangell    AK        NaN         NaN    99929  ...
1           Wrangell    AK  56.474518 -132.386000    99929  ...
2           Wrangell    AK  56.471638 -132.386860    99929  ...
3           Wrangell    AK        NaN         NaN    99929  ...
4           Wrangell    AK  56.475697 -132.389050    99929  ...
...              ...   ...        ...         ...      ...  ...
599995      Matteson    IL  41.523070  -87.769340    60443  ...
599996  West Chicago    IL        NaN         NaN    60185  ...
599997        Lemont    IL  41.697723  -88.003746    60439  ...
599998      Matteson    IL  41.519527  -87.730644    60443  ...
599999  West Chicago    IL  41.879490  -88.203010    60185  ...

        property_type  property_status  year_build  total_num_units  \
0                 LOT         FOR_SALE         NaN              NaN
1       SINGLE_FAMILY         FOR_SALE         NaN              NaN
2                 LOT         FOR_SALE         NaN              NaN
3       SINGLE_FAMILY         FOR_SALE         NaN              NaN
4       SINGLE_FAMILY         FOR_SALE         NaN              NaN
...               ...              ...         ...              ...
599995  SINGLE_FAMILY         FOR_SALE         NaN              NaN
599996            LOT         FOR_SALE         NaN              NaN
599997  SINGLE_FAMILY         FOR_SALE         NaN              NaN
599998  SINGLE_FAMILY         FOR_SALE         NaN              NaN
599999  SINGLE_FAMILY         FOR_SALE         NaN              NaN

        listing_age              RunDate                        agency_name  \
0                -1  2022-04-24 07:34:15                  Anchor Properties
1                -1  2022-04-24 07:34:15                                NaN
2                -1  2022-04-24 07:34:15                                NaN
3                -1  2022-04-24 07:34:15         Petersburg Properties, LLC
4                -1  2022-04-24 07:34:15                                NaN
...             ...                  ...                                ...
599995           -1  2022-04-24 07:34:15             Coldwell Banker Realty
599996           -1  2022-04-24 07:34:15          GC Realty and Development
599997           -1  2022-04-24 07:34:15  Coldwell Banker Real Estate Group
599998           -1  2022-04-24 07:34:15                Brakie Realty, Inc.
599999           -1  2022-04-24 07:34:15        Porcayo & Associates Realty

        agent_name agent_phone is_owned_by_zillow
0              NaN         NaN                  0
1              NaN         NaN                  0
2              NaN         NaN                  0
3              NaN         NaN                  0
4              NaN         NaN                  0
...            ...         ...                ...
599995         NaN         NaN                  0
599996         NaN         NaN                  0
599997         NaN         NaN                  0
599998         NaN         NaN                  0
599999         NaN         NaN                  0

[600000 rows x 28 columns]>

In [50]:
# Assuming you have already loaded or created your DataFrame 'df'

# Convert acres to square feet
df['land_space'] = df.apply(lambda row: row['land_space'] * 43560 if row['land_space_unit'] == 'acres' else row['land_space'], axis=1)

# Drop the 'land_space_unit' column
cols_dropped = ["land_space_unit"]
df = df.drop(columns=cols_dropped)

relevant_columns = ['address', 'bedroom_number', 'bathroom_number', 'price_per_unit', 'living_space', 'price', 'postcode', 'latitude', 'longitude']

# Drop columns not in the 'relevant_columns' list
df = df[relevant_columns]

print(df.shape)

df.head()

(600000, 9)

,address,bedroom_number,bathroom_number,price_per_unit,living_space,price,postcode,latitude,longitude
0,"3 Plat #83-10, Wrangell, AK 99929",NaN,NaN,NaN,NaN,135000.0,99929,NaN,NaN
1,"117 3rd St, Wrangell, AK 99929",3.0,3.0,237.0,2478.0,589500.0,99929,56.474518,-132.38600
2,"LOT 2A Front St, Wrangell, AK 99929",NaN,0.0,NaN,NaN,99999.0,99929,56.471638,-132.38686
3,"LOT A Plat #2009-6, Wrangell, AK 99929",3.0,1.0,330.0,1500.0,495000.0,99929,NaN,NaN
4,"335 Cassiar St, Wrangell, AK 99929",5.0,3.0,194.0,2080.0,405000.0,99929,56.475697,-132.38905

In [51]:
df = df.dropna(subset=relevant_columns)

# df.dtypes

In [52]:
# Function to convert postcode to int or None if it can't be converted
def try_cast_to_int(postcode):
    try:
        return int(postcode)
    except ValueError:
        return None

# Apply the function to the 'postcode' column , 'living_space', 'price', 'postcode''
df['postcode'] = df['postcode'].apply(try_cast_to_int)
df['bedroom_number'] = df['bedroom_number'].apply(try_cast_to_int)
df['bathroom_number'] = df['bathroom_number'].apply(try_cast_to_int)
df['price_per_unit'] = df['price_per_unit'].apply(try_cast_to_int)
df['price'] = df['price'].apply(try_cast_to_int)
df['living_space'] = df['living_space'].apply(try_cast_to_int)

# Drop rows where postcode couldn't be converted to int
df = df.dropna(subset=['postcode'])
df = df.dropna(subset=['bedroom_number'])
df = df.dropna(subset=['bathroom_number'])
df = df.dropna(subset=['price_per_unit'])
df = df.dropna(subset=['price'])
df = df.dropna(subset=['living_space'])

# Print the resulting DataFrame
print(df)

<ipython-input-52-deaed196e5bb>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['postcode'] = df['postcode'].apply(try_cast_to_int)

                                       address  bedroom_number  \
1               117 3rd St, Wrangell, AK 99929               3
4           335 Cassiar St, Wrangell, AK 99929               5
7           532.5 Front St, Wrangell, AK 99929               3
44        501 Noseeum St, Petersburg, AK 99833               1
48           905 Odin St, Petersburg, AK 99833               3
...                                        ...             ...
599993  611 Hickory Ln, West Chicago, IL 60185               4
599995    6317 Virginia Ln, Matteson, IL 60443               4
599997      12S135 Lemont Rd, Lemont, IL 60439               3
599998       4701 Abbey Ln, Matteson, IL 60443               5
599999   321 Allen Ave, West Chicago, IL 60185               4

        bathroom_number  price_per_unit  living_space   price  postcode  \
1                     3             237          2478  589500   99929.0
4                     3             194          2080  405000   99929.0
7                     1             104          1250  130000   99929.0
44                    1             235           700  165000   99833.0
48                    3             226          1652  375000   99833.0
...                 ...             ...           ...     ...       ...
599993                5             161          3409  549000   60185.0
599995                3             134          2600  350000   60443.0
599997                3             254          3373  859000   60439.0
599998                4             140          3301  465000   60443.0
599999                2             181          1709  310000   60185.0

         latitude   longitude
1       56.474518 -132.386000
4       56.475697 -132.389050
7       56.468544 -132.379650
44      56.806820 -132.961800
48      56.806230 -132.971130
...           ...         ...
599993  41.898396  -88.192670
599995  41.523070  -87.769340
599997  41.697723  -88.003746
599998  41.519527  -87.730644
599999  41.879490  -88.203010

[402268 rows x 9 columns]

In [53]:
# df.dtypes

# Count occurrences of each postcode
postcode_counts = df['postcode'].value_counts()

# Print the counts
print(postcode_counts)

# Assuming you have a DataFrame called df

# Determine the size of the reduced dataset (1/100 of the original size)
reduced_size = len(df) // 100

# Randomly sample the DataFrame to create a reduced dataset
df = df.sample(n=reduced_size, random_state=42)

# Now, reduced_df contains 1/10th of the original data in a random sample

75126.0    872
73099.0    816
78130.0    801
60611.0    773
78253.0    746
          ...
70759.0      1
65461.0      1
62538.0      1
62963.0      1
78886.0      1
Name: postcode, Length: 9858, dtype: int64

In [54]:
from sklearn.model_selection import train_test_split

x = df[['bedroom_number', 'bathroom_number', 'living_space', 'postcode']]

y = df[['price']].values.ravel()

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [55]:
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingRegressor
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, mean_squared_error


# # Classification with Logistic Regression
# cls_model = LogisticRegression()
# cls_model.fit(x_train, y_train)
# # y_pred_cls = cls_model.predict(x_test)
# # accuracy_cls = accuracy_score(y_test, y_pred_cls)
# print(f'Accuracy: {cls_model.score(x_test, y_test):.2f}')

In [56]:
# Regression with Linear Regression
reg_model = LinearRegression()
reg_model.fit(x_train, y_train)

# y_pred_reg = reg_model.predict(x_test)
# mse_reg = mean_squared_error(y_test, y_pred_reg)
print(f'Accuracy: {reg_model.score(x_test, y_test):.2f}')

Accuracy: 0.25

In [57]:
df_with_predictions = df.copy()

df_with_predictions['bedroom_number'] += 1
df_with_predictions['bathroom_number'] += 1
df_with_predictions['living_space'] += 250

# Predict the prices for the modified properties
predicted_prices = reg_model.predict(df_with_predictions[['bedroom_number', 'bathroom_number', 'living_space', 'postcode']])

# Append the predictions as a new column
df_with_predictions['predicted_price'] = predicted_prices

df_with_predictions['predicted_price'] = df_with_predictions['predicted_price'].apply(try_cast_to_int)
df_with_predictions['predicted_price'] = df_with_predictions['predicted_price'].abs()

# Display the updated DataFrame with predictions
print(df_with_predictions)

                                                 address  bedroom_number  \
352348         2004 N Mission Cir, Friendswood, TX 77546               5
413006           355 County Road 3900, Hawkins, TX 75765               4
53331   45 Eagle Crest Dr APT 405, Lake Oswego, OR 97035               3
359568    9602 Oakland Lake Way, Missouri City, TX 77459               6
284557         12664 W Bowles Place, Littleton, CO 80127               3
...                                                  ...             ...
54807       1850 Ala Moana Blvd #923, Honolulu, HI 96815               1
158990               15619 Risley St, Whittier, CA 90603               4
376081         1211 Caroline St #1103, Houston, TX 77002               3
16241                  3516 S L Street, Tacoma, WA 98418               5
582179         2819 W Rosemont Ave #G, Chicago, IL 60659               3

        bathroom_number  price_per_unit  living_space    price  postcode  \
352348                4             150          2672   365000   77546.0
413006                3             718          1850  1150000   75765.0
53331                 3             184          1306   195000   97035.0
359568                5             166          3947   615000   77459.0
284557                4             236          2351   497000   80127.0
...                 ...             ...           ...      ...       ...
54807                 2            1154           501   289900   96815.0
158990                4             450          2246   899000   90603.0
376081                4             424          1428   499900   77002.0
16241                 3             174          2832   450000   98418.0
582179                2             171           950   119900   60659.0

         latitude   longitude  predicted_price
352348  29.488970  -95.209240           942006
413006  32.673557  -95.239136           474657
53331   45.436070 -122.709240           853176
359568  29.494413  -95.520520          1533221
284557  39.609230 -105.141410          1166055
...           ...         ...              ...
54807   21.285023 -157.836580           566622
158990  33.937393 -117.997055          1196836
376081  29.753286  -95.363670           773771
16241   47.227436 -122.449590          1138926
582179  41.995586  -87.700430           289469

[4022 rows x 10 columns]

In [58]:
# Save the DataFrame to a .csv file
df_with_predictions.to_csv('predicted_prices.csv', index=True)

In [59]:
# # Classification with Support Vector Machine
# cls_model = SVC()
# cls_model.fit(x_train, y_train)
# y_pred_cls = cls_model.predict(x_test)
# accuracy_cls = accuracy_score(y_test, y_pred_cls)
# print(f'Classification Accuracy: {accuracy_cls:.2f}')

In [60]:
# # Regression with Gradient Boosting
# reg_model = GradientBoostingRegressor()
# reg_model.fit(x_train, y_train)
# y_pred_reg = reg_model.predict(x_test)
# mse_reg = mean_squared_error(y_test, y_pred_reg)
# print(f'Regression Mean Squared Error: {mse_reg:.2f}')